# Dependencies
node_modules/
vendor/

# Build files
build/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
debug.log

# Environment
.env
.env.local

# Composer
composer.lock

# NPM
package-lock.json

# Testing
coverage/
.phpunit.result.cache
